/* Primaries
 * For use with Jekyll and Pygments
 * https://github.com/Siltaar/primaries.vim
 * */

.highlight { background-color: black; color: white; }
.highlight .tok-c { color: #666666} /* Comment */
.highlight .tok-err { color: red; } /* Error */
.highlight .tok-g { color: white; } /* Generic */
.highlight .tok-k { color: white; font-weight:bold; } /* Keyword */
.highlight .tok-l { color: #586e75} /* Literal */
.highlight .tok-n { color: #586e75} /* Name */
.highlight .tok-o { color: #888888} /* Operator */
.highlight .tok-x { color: white; } /* Other */
.highlight .tok-p { color: #ffd787; font-weight:bold; } /* Punctuation */
.highlight .tok-cm { color: #666666} /* Comment.Multiline */
.highlight .tok-cp { color: #666666} /* Comment.Preproc */
.highlight .tok-c1 { color: #666666} /* Comment.Single */
.highlight .tok-cs { color: #666666} /* Comment.Special */
.highlight .tok-gd { color: red    } /* Generic.Deleted */
.highlight .tok-ge { color: #af87ff; font-style: italic } /* Generic.Emph */
.highlight .tok-gr { color: red;   } /* Generic.Error */
.highlight .tok-gh { color: #666666} /* Generic.Heading */
.highlight .tok-gi { color: green; } /* Generic.Inserted */
.highlight .tok-go { color: white; } /* Generic.Output */
.highlight .tok-gp { color: white; font-weight:bold; } /* Generic.Prompt */
.highlight .tok-gs { color: #af87ff; font-weight: bold } /* Generic.Strong */
.highlight .tok-gu { color: #666666} /* Generic.Subheading */
.highlight .tok-gt { color: #666666} /* Generic.Traceback */
.highlight .tok-kc { color: #888888} /* Keyword.Constant */
.highlight .tok-kd { color: #888888} /* Keyword.Declaration */
.highlight .tok-kn { color: #888888} /* Keyword.Namespace */
.highlight .tok-kp { color: #888888} /* Keyword.Pseudo */
.highlight .tok-kr { color: white; font-weight:bold; } /* Keyword.Reserved */
.highlight .tok-kt { color: #888888} /* Keyword.Type */
.highlight .tok-ld { color: #ffd787} /* Literal.Date */
.highlight .tok-m { color: #ff5f5f } /* Literal.Number */
.highlight .tok-s { color: #5faf5f } /* Literal.String */
.highlight .tok-na { color: #ffd7af} /* Name.Attribute */
.highlight .tok-nb { color: white; font-weight:bold; } /* Name.Builtin */
.highlight .tok-nc { color: #ffd7af} /* Name.Class */
.highlight .tok-no { color: #ffd7af} /* Name.Constant */
.highlight .tok-nd { color: #ffd7af} /* Name.Decorator */
.highlight .tok-ni { color: #ffd7af} /* Name.Entity */
.highlight .tok-ne { color: white; font-weight:bold; } /* Name.Exception */
.highlight .tok-nf { color: white; font-weight:bold; } /* Name.Function */
.highlight .tok-nl { color: #888888} /* Name.Label */
.highlight .tok-nn { color: #ffd7af} /* Name.Namespace */
.highlight .tok-nx { color: white; } /* Name.Other */
.highlight .tok-py { color: #ffd7af} /* Name.Property */
.highlight .tok-nt { color: #ffd7af} /* Name.Tag */
.highlight .tok-nv { color: #ffd7d7} /* Name.Variable */
.highlight .tok-ow { color: white; font-weight:bold; } /* Operator.Word */
.highlight .tok-w { color: #5faf5f } /* Text.Whitespace */
.highlight .tok-mf { color: #ff5f5f} /* Literal.Number.Float */
.highlight .tok-mh { color: #ffd787} /* Literal.Number.Hex */
.highlight .tok-mi { color: #ff5f5f} /* Literal.Number.Integer */
.highlight .tok-il { color: #ff5f5f} /* Literal.Number.Integer.Long */
.highlight .tok-mo { color: #ffd787} /* Literal.Number.Oct */
.highlight .tok-sb { color: #5faf5f} /* Literal.String.Backtick */
.highlight .tok-sc { color: #5faf5f} /* Literal.String.Char */
.highlight .tok-sd { color: #5faf5f} /* Literal.String.Doc */
.highlight .tok-s2 { color: #5faf5f} /* Literal.String.Double */
.highlight .tok-se { color: #5faf5f} /* Literal.String.Escape */
.highlight .tok-sh { color: #5faf5f} /* Literal.String.Heredoc */
.highlight .tok-si { color: #5faf5f} /* Literal.String.Interpol */
.highlight .tok-sx { color: #ffd787} /* Literal.String.Other */
.highlight .tok-sr { color: #ffd787} /* Literal.String.Regex */
.highlight .tok-s1 { color: #5faf5f} /* Literal.String.Single */
.highlight .tok-ss { color: #ffd787} /* Literal.String.Symbol */
.highlight .tok-bp { color: white} /* Name.Builtin.Pseudo */
.highlight .tok-vc { color: white} /* Name.Variable.Class */
.highlight .tok-vg { color: white} /* Name.Variable.Global */
.highlight .tok-vi { color: white} /* Name.Variable.Instance */
